.keyboard-button {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 5px;
    background-color: #eee;
    border-radius: 5px;
    box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.2), 0px 5px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.1s ease-in-out;
}

.keyboard-button:hover {
    transform: translateY(-2px);
    box-shadow: 0px 5px 0px rgba(0, 0, 0, 0.2), 0px 10px 20px rgba(0, 0, 0, 0.1);
}

.keyboard-button:active {
    transform: translateY(0px);
    box-shadow: none;
    background-image: linear-gradient(to bottom, #f0f0f0, #e0e0e0);
}

.active {
    transform: translateY(0px);
    box-shadow: none;
    background-image: linear-gradient(to bottom, #f0f0f0, #e0e0e0);
}

.keyboard-letter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 20px;
    font-weight: bold;
    color: #333;
}