#lettershow {
    width: 100%;
    height: calc(100% - 21px);
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* body {
    overflow-x: hidden;
} */