#typing {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: calc(100% - 21px);
    align-items: center;
    justify-content: center;
}

.entrer {
    display: inline-block;
    padding: 8px 16px;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.entrer:hover {
    background-color: #0069d9;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.entrer:focus {
    outline: none;
    box-shadow: 0px 0px 0px 3px rgba(0, 123, 255, 0.5);
}

.mechanic {
    display: flex;
}

.mechanic>form {
    width: 400px;
    display: flex;
    justify-content: space-around;
}

.mechanic>form>div {
    display: grid;
    text-align: center;
}